.scene2{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#F8F5EF;

    padding:40px;

}

.scene2-card{

    max-width:700px;

    text-align:center;

}

.scene-label{

    letter-spacing:6px;

    font-size:14px;

    margin-bottom:24px;

}

.scene-title{

    font-size:72px;

    margin-bottom:32px;

}

.scene-description{

    font-size:24px;

    line-height:1.8;

    margin-bottom:48px;

}